@import 'index.css';

.addTodo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 3px;
  padding: 2px 0;
  cursor: pointer;
}

.addTodo:hover {
  background-color: var(--tab-hover-color);
}

.add {
  font-size: 24px;
  margin: 0 10px 0 8px;
}
