@import 'index.css';

.overlay {
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}

.todoForm {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background-color: #eeeeee;
  position: fixed;
  padding: 20px;
}

.headerForm {
  margin: 10px 0;
  text-align: center;
  font-size: 34px;
  color: var(--header-font-color);
}

.title,
.description,
.dueDate,
.priority,
.project {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 18px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  background-color: white;
}

.title {
  height: 45px;
  resize: none;
}

.description {
  height: 100px;
  resize: none;
}

.button {
  display: inline-block;
  width: 49%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.submitForm {
  background-color: var(--primary-background-color);
}

.closeForm {
  background-color: #aaaaaa;
}

.todoLabel {
  font-size: 16px;
}

.todoCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-radius: 10px;
  padding: 2px 0;
  cursor: pointer;
  background-color: var(--sidebar-background-color);
  height: 40px;
}

.todoCard:hover {
  box-shadow: 3px 3px 5px 2px rgb(0 0 0 / 20%);
  transition: all 0.2s ease-out;
}

.cardText {
  white-space: nowrap;
}

.detailsButton {
  background-color: inherit;
  border: 1px solid var(--primary-background-color);
  color: var(--primary-background-color);
  border-radius: 5px;
  padding: 4px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.detailsButton:hover {
  background-color: var(--primary-background-color);
  color: white;
}

.removeIcon,
.editIcon {
  height: 20px;
}

.cardContainer {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.cardContainerLeft > * {
  margin: 2px 5px;
}

.cardContainerRight > * {
  margin: 2px 15px;
}

.headerDetails {
  margin-bottom: 15px;
  text-align: center;
  font-size: 34px;
  color: var(--header-font-color);
}

.detailsDiv {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: #eeeeee;
  position: fixed;
  padding: 20px;
}

.indicator {
  flex: 0 0 120px;
  font-size: 18px;
  font-weight: bold;
}

.text {
  font-size: 16px;
}

.todoPart {
  display: flex;
  min-height: 20px;
}
